@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #fff;
    border: 1px solid #6969693b;
    box-shadow: 0 0 5px #5050505b;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;

    background: #40e4562f;
    width: 100%;
    
}

.navbar ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: row;
    
}

.menu li a {
    padding: 2px 20px;
    color: #353535;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
}

.Logo {
    height: 80px;
    width: 80px;
}

.submenu {
    position: absolute;
    background: #333333;
    width: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.submenu li a:hover {
    color: #fff;
    text-decoration: underline;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.menu li a:hover::before {
    transform: scaleX(1);
}

.menu li a::before {
    transform: scaleX(0);
    /* border-bottom: 1px solid black; */
}

.menu li a::before {
    content: "";
    /* display: block; */
    position: absolute;
    /* inset: 0 0 0 0; */
    left: 0;
    top: 100%;
    width: 100%;
    background-color: black;
    height: 1px;
    /* z-index: -1; */
    transition: transform .5s ease;

}

.menu li a.selected::before { /* Al seleccionar un elemento del menu se queda seleccionado, o deberia xd */
    transform: scaleX(0.5);
}

.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    /* width: 250px; */
    width: 40%;
    /* background-color: rgba(255, 255, 255, 0.15); */
    background-color: #6fe4402f;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 17px;
    /* font-weight: 300; */
}

.sidebar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar li {
    height: 50px;
    width: 100%;
}

.sidebar a {
    height: 100%;
    width: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuMobile {
    visibility: hidden;
}


@media (max-width: 1024px) {
    .menu {
        display: none;
    }

    .menuMobile {
        visibility: visible;
    }
}

@media(max-width: 500px){
    .sidebar{
      width: 60%;
    }
}

@media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
}