@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

.Container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    box-shadow: 0 0 5px #5050507c;
    top: 10em;
    width: 90%;
    background-color: #91908e15;
    /* margin: 0 auto;
    padding: 20px; */
    margin-bottom: 15em;
}

.Container .lista li {
    position:relative;
    list-style:outside;
    left: 2em;
    width: 100%;
    margin: 4px;
}

.Container hr {
    position: relative;
    width: 40%;
    background-image: linear-gradient(90deg, black, transparent);
    border: 0;
    height: 3px;
	top: 0em;
}

.privacyContainer {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.privacyContainer div {
    padding: 1em;
    width: 100%;
}