.us-Container {
    position: relative;
    color: #ffffff;
    height: 21em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 5em;
    width: 100%;
    background-image: url(../img/nopal-la-planta-emblema-de-mexico-que-ha-sobrevivido-a-los-anos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.us-Container div hr {
    position: relative;
    width: 40em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.us-Container p{
    position: relative;
    font-style: italic;
}

.us-Container h1{
    position: relative;
}

.MV h1 {
    margin-top: 1em;
    color: #3b3b3b;
    
}

.MV p {
    width: 25em;
}

.MVContainer {
    position: relative;
    width: 1000px;
    left: 50%;
    top: 10em;
    margin-bottom: 15em;
    padding: 1em;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.MVContainer img{
    border-radius: 5px;
    width: 365px;
}

.ODS {
    position: relative;
    max-width: 850px;
    /* height: 400px; */
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.ODS img {
    height: 160px;
    width: 160px;
    /* margin-right: 20px; */
    margin-bottom: 1em;
}

.containerODS {
    position: relative;
    width: 900px;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 5em;
    color: #3b3b3b;
}

@media (max-width: 768px) {
    .MVContainer {
        width: 100%;
    }

    .MV {
        width: 45%;
    }

    .MV p {
        width: 100%;
    }
    
    .containerODS {
        width: 100%;
    }

    /* .ODS {
        height: fit-content;
    } */

}

@media(max-width: 574px) {
    .us-Container div hr {
        width: 100%;
    }

    .us-Container p {
        width: 100%;
    }

    .MVContainer {
        flex-direction: column;
        align-items: center;
    }

    .MV {
        text-align: center;
        width: 100%;
        margin-bottom: 3em;
    }

    .MV p {
        width: 100%;
    }
}